@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@font-face{
    font-family: Holyfat;
    src: url(./tipografia/Holyfat.ttf);
}

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none !important;
    font-family: 'Poppins', sans-serif !important;
}

.text-subtitle{
    color: #FF8F71;
    
}

.text-subSubtitle{
    /* color:#6f7296; */
    border-bottom: 2px solid #333;
    text-indent: 20px;
    margin-left: 20px;
}

.introduccion-iconos{
    width: 3rem;
    margin-right: 1rem;
    margin-bottom: .8rem;
}

input{
    width: 90% !important;
}

.btn {
    --bs-btn-padding-x: 0rem !important;
}

body{
    background-color: #f7f7f7;
}

.titulo{
    color: #FF545D;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 5rem;
    height: 5rem;
    color: black;
}

.escenas-imgs{
    position: absolute;
    top: 0;
    right: 0;
}

.escena2, .escena3, .escena4, .escena5, .escena6, .escena7, .escena8, .escena9{
    position: relative;
}



/* ---------controladores ----------- */

.controladores-comic{
    width: 10%;
    height: 88vh;
    background-color: #e4e4e4;
}

.img-btns{
    width: 80%;
    cursor: pointer;
}

.music-container, .voices-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.modalContainer{
    margin: .5rem 2rem 2rem 2rem;
}

.modal {
    --bs-modal-width: 50% !important;
}



/* --------------escena 1--------------- */
.escena1{
    position: relative;
    background-image: url(../recursos/escena1/barrio-escenario-nubes.png), url(../recursos/escena1/barrio-escenario-sombras.png), url(../recursos/escena1/barrio-escenario-cielo.png) ;
    background-size: cover;
    /* background-position: 0px, 0px, 0px;
    background-position: 1020px, 3500px, 0px ; */
    animation: fondo-escena1-move 40s linear infinite;
}

#div-contorno-escena1, #div-contorno-escena9{
    position: absolute;
    width: 15%;
    height: 40%;
    /* background-color: orange; */
    top: 20%;
    right: 20%;
    cursor: pointer;
}

#arrow1Escena1, #arrow1Escena9{
    width: 6.5%;
    position: absolute;
    bottom: 30%;
    right: 35%;
    animation: flecha1Escena1 1s linear infinite;
}

#arrow2Escena1, #arrow2Escena2, #arrow2Escena3, #arrow3Escena4, #arrow2Escena5, #arrow1Escena6, #arrow2Escena7, #arrow2Escena8, #arrow2Escena9{
    width: 6.5%;
    position: absolute;
    bottom: 34%;
    right: 10%;
    animation: flecha2Escena1 1s linear infinite;
}



@keyframes fondo-escena1-move {
    0%{
        background-position-x: 0px, 0px, 0px;
    }

    100%{
        background-position-x: 2040px, 3615px, 0px ;
    }
}


@keyframes flecha1Escena1 {
    0%{
        bottom: 28%;
        right: 35%;
    }

    50%{
        bottom: 32%;
        right: 30%;
    }

    100%{
        bottom: 28%;
        right: 35%;
    }
}

@keyframes flecha2Escena1 {
    0%{
        bottom: 34%;
        right: 10%;
    }

    50%{
        bottom: 38%;
        right: 8%;
    }

    100%{
        bottom: 34%;
        right: 10%;
    }
}



/*------------- escena 2 -----------------*/

.escena2Plantas{
    position: absolute;
    width: 16%;
    transform-origin: bottom center;
    bottom: 28%;
    left: 1%;
    animation:plantas 30s linear infinite;
}

@keyframes plantas {
    0%{
        transform: rotateZ(20deg);
    }

    50%{
        transform: rotateZ(-3deg);
    }

    100%{
        transform: rotateZ(20deg);
    }
}



.escena2Lamparas{
    position: absolute;
    width: 22%;
    top: -6.6%;
    opacity: 10;
    transform-origin: top center;
    animation: lamparas 15s linear infinite;
}

.lampara1{
    left: 16.5%;
}

.lampara2{
    left: 39%;
}

.lampara3{
    right: 16.5%;
}


@keyframes lamparas {
    0% {
        transform: rotateZ(3deg);
    }

    50% {
        transform: rotateZ(-3deg);
    }

    100% {
        transform: rotateZ(3deg);
    }
}

.humos{
    opacity: 50%;
}


#divContornoEscena2, #divContornoEscena7{
    position: absolute;
    width: 75%;
    height: 30%;
    bottom: 10%;
    right: 13%;
    cursor: pointer;
}





#escena2Gomez{
    width: 15%;
    position: absolute;
    top: 18%;
    right: 13%;
    animation: gomez 3s ease-in-out;
    transform: scale(0);
}

@keyframes gomez {
    0%{
        transform: scale(0);
    }

    50%{
        transform: scale(120%);
    }

    90%{
        transform: scale(100%);
    }

    100%{
        transform: scale(0%);
    }
}


#arrow1Escena2, #arrow1Escena7{
    transform: rotate(80deg);
    width: 6.5%;
    position: absolute;
    bottom: 40%;
    left: 15%;
    animation: flecha1Escena2 1s linear infinite;
}



@keyframes flecha1Escena2 {
    0%{
        bottom: 43%;
        left: 12%;
    }

    50%{
        bottom: 40%;
        left: 15%;
    }

    100%{
        bottom: 43%;
        left: 12%;
    }
}


/*------------- escena 3 -----------------*/

.cortinasEsc3{
    position: absolute;
    top: -5.5%;
    right: 0;
}

.luzVentana{
    position: absolute;
    opacity: 50%;
}

.luzLampara{
    position: absolute;
    opacity: 30%;   
}


#divContornoEscena3{
    position: absolute;
    width: 43%;
    height: 42%;
    bottom: 16.5%;
    right: 28.5%;
    cursor: pointer;
}



.escena3Plantas{
    position: absolute;
    width: 20%;
    transform-origin: bottom center;
    bottom: 39.5%;
    right: 9%;
    animation:plantas 20s linear infinite;
}

@keyframes plantas {
    0%{
        transform: rotateZ(20deg);
    }

    50%{
        transform: rotateZ(-3deg);
    }

    100%{
        transform: rotateZ(20deg);
    }
}


#arrow1Escena3{
    transform: rotate(90deg);
    width: 6.5%;
    position: absolute;
    top: 30%;
    left: 25%;
    animation: flecha1Escena3 .8s linear infinite;
}



@keyframes flecha1Escena3 {
    0%{
        top: 30%;
        left: 25%;
    }

    50%{
        top: 32%;
        left: 26%;
    }

    100%{
        top: 30%;
        left: 25%;
    }
}


/*------------- escena 4 -----------------*/

.luzVentanaEscena4{
    opacity: 80%;
}


#divContornoEscena4_1{   
    position: absolute;
    width: 19%;
    height: 74%;
    bottom: 12%;
    left: 5.5%;
    cursor: pointer;
}

#divContornoEscena4_2{
    position: absolute;
    width: 50%;
    height: 50%;
    bottom: 5%;
    right: 10%;
    cursor: pointer;
}





.escena4Plantas{
    position: absolute;
    width: 8%;
    transform-origin: bottom center;
    bottom: 22%;
    left: 29%;
    transform: rotateZ(0deg);
    animation:plantasHospital 12s linear infinite;
}

@keyframes plantasHospital {
    0%{
        transform: rotateZ(0deg);
    }

    33%{
        transform: rotateZ(-10deg);
    }

    66%{
        transform: rotateZ(5deg);
    }

    100%{
        transform: rotateZ(0deg);
    }
}





#arrow1Escena4{
    transform: rotate(180deg);
    width: 6.5%;
    position: absolute;
    top: 5%;
    left: 28%;
    animation: flecha1Escena4_1 .8s linear infinite;
}



@keyframes flecha1Escena4_1 {
    0%{
        top: 5%;
        left: 28%;
    }

    50%{
        top: 6%;
        left: 27%;
    }

    100%{
        top: 5%;
        left: 28%;
    }
}

/* --------------escena 5--------------- */
.escena5{
    position: relative;
    background-image: url(../recursos/escena5/nubes.png), url(../recursos/escena5/sombraAzul.png), url(../recursos/escena5/cielo.png) ;
    background-size: cover;
    background-position: 0px, 0px, 0px;
    /* background-position: 1020px, 3500px, 0px ; */
    animation: fondo-escena5-move 80s linear infinite;
}

#divContornoEscena5, #divContornoEscena8{
    position: absolute;
    width: 22%;
    height: 40%;
    top: 31%;
    right: 38%;
    cursor: pointer;
}

#arrow1Escena5, #arrow1Escena8{
    width: 6.5%;
    position: absolute;
    bottom: 30%;
    left: 32%;
    animation: flecha1Escena5 .7s linear infinite;
}


@keyframes fondo-escena5-move {
    0%{
        background-position-x: 0px, 0px, 0px;
    }

    100%{
        background-position-x: 2031px, 3051px, 0px ;
    }
}


@keyframes flecha1Escena5 {
    0%{
        bottom: 30%;
        left: 32%;
    }

    50%{
        bottom: 32%;
        left: 34%;
    }

    100%{
        bottom: 30%;
        left: 32%;
    }
}

#divContornoLetrero{
    /* background-color: #6f86a9; */
    position: absolute;
    width: 30%;
    height: 35%;
    bottom: 0%;
    right: 0%;
    cursor: pointer;
}











.cap2{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.img-cap{
    margin-bottom: 2rem;
    opacity: 85%;
    height: 100%;
}

.img-cap:hover{
    opacity: 100%;
}

.img-cap2{
    height: 50%;
}


.btn-cap{
    padding: .8rem 2.5rem;
    background-color: #88C546;
    color: white;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 500;
}

.btn-cap:hover{
    background-color: #83be44;
}




@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1700px;
}
}

